Flask==1.0.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.1
Flask-WTF==0.14.2

httplib2==0.10.3
RtmAPI==0.7.0
psycopg2==2.7.5

bjsparser @ git+https://github.com/Auzzy/bjsparser.git
rdparser @ git+https://github.com/Auzzy/rdparser.git