Flask==1.1.2
Flask-Security==3.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3

httplib2==0.19.1
RtmAPI==0.7.2
psycopg2==2.8.6

git+https://github.com/Auzzy/bjsparser.git@master
git+https://github.com/Auzzy/rdparser.git@master