.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
  border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.arrow {
  width: 0;
  height: 0;
  border-width: 33px 0px;
  border-color: transparent black;
  border-style: solid;
}

.left-arrow {
  border-right-width: 16px;
}

.right-arrow {
  border-left-width: 16px;
}

.arrow-disabled {
  border-color: transparent LightGray;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

a.decr-btn[disabled] div {
    color: white;
    background-color: #e87c86;
}

/* For the datetime picker */
.dtp .btn {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
}