<button id="new-list-button" class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px;">New List</button>
<form id="create-list-form" class="needs-validation" style="display: none" action="" novalidate>
    <div class="form-row">
        <div class="col">
            <input id="create-list-name" type="text" class="form-control" placeholder="Name" required />
            <div class="invalid-feedback">A list name is required.</div>
        </div>
        <div class="col">
            <select id="create-list-department" class="custom-select"></select>
        </div>
        <div class="col">
            <input id="create-list-datepicker" type="text" class="form-control" autocomplete="off" placeholder="Departure" required />
            <div class="invalid-feedback">A departure datetime is required.</div>
        </div>
        <div>
            <button id="create-list-submit" class="btn btn-primary" type="button">Create List</button>
        </div>
        <div>
            <button id="create-list-cancel" class="btn btn-outline-danger" type="button">Cancel</button>
        </div>
    </div>
</form>
<ul class="list-group" id="admin-console-lists-of-lists"></ul>
<input id="edit-list-datepicker" type="hidden" />