<ul class="nav nav-tabs" id="admin-console-nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="admin-console-lists-tab" data-toggle="tab" href="#admin-console-lists" role="tab" aria-controls="admin-console-lists" aria-selected="true">Lists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin-console-archive-tab" data-toggle="tab" href="#admin-console-archive" role="tab" aria-controls="admin-console-archive" aria-selected="true">Archive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin-console-categories-tab" data-toggle="tab" href="#admin-console-categories" role="tab" aria-controls="admin-console-categories" aria-selected="true">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin-console-users-tab" data-toggle="tab" href="#admin-console-users" role="tab" aria-controls="admin-console-users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="admin-console-departments-tab" data-toggle="tab" href="#admin-console-departments" role="tab" aria-controls="admin-console-departments" aria-selected="true">Departments</a>
    </li>
</ul>
<div class="tab-content mt-2" id="admin-console-nav-tabs-content">
    <div class="tab-pane show active" id="admin-console-lists" role="tabpanel" aria-labelledby="admin-console-lists-tab">
        {% include "tabs/admin-console-tabs/lists-tab.html" %}
    </div>
    <div class="tab-pane" id="admin-console-archive" role="tabpanel" aria-labelledby="admin-console-archive-tab">
        {% include "tabs/admin-console-tabs/archive-tab.html" %}
    </div>
    <div class="tab-pane" id="admin-console-categories" role="tabpanel" aria-labelledby="admin-console-categories-tab">
        {% include "tabs/admin-console-tabs/categories-tab.html" %}
    </div>
    <div class="tab-pane" id="admin-console-users" role="tabpanel" aria-labelledby="admin-console-users-tab">
        {% include "tabs/admin-console-tabs/users-tab.html" %}
    </div>
    <div class="tab-pane" id="admin-console-departments" role="tabpanel" aria-labelledby="admin-console-departments-tab">
        {% include "tabs/admin-console-tabs/departments-tab.html" %}
    </div>
</div>
