<ul class="nav nav-tabs" id="admin-console-nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="admin-console-lists-tab" data-toggle="tab" href="#admin-console-lists" role="tab" aria-controls="search" aria-selected="true">Lists</a>
    </li>
</ul>
<div class="tab-content mt-2" id="admin-console-nav-tabs-content">
    <div class="tab-pane show active" id="admin-console-lists" role="tabpanel" aria-labelledby="admin-console-lists-tab">
        {% include "tabs/admin-console-tabs/lists-tab.html" %}
    </div>
</div>
