<div class="container mh-100" id="browse-tab-content">
    <div class="row mt-3" id="browse-categories-pagination"></div>
    <div class="row mt-3" id="browse-categories-breadcrumb"></div>
    <div class="row" id="browse-categories"></div>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="card" style="max-height: 59%">
                <ul class="list-group" id="browse-items" style="overflow: auto;" data-store="" data-category="" data-next-page=""></ul>
            </div>
        </div>
    </div>
</div>

<div id="scroll-top-val"></div>
<div id="inner-height-val"></div>
<div id="scroll-height-val"></div>
<div id="scroll-vals"></div>