<div class="container mh-100" id="browse-tab-content">
    <div class="row mt-3" id="browse-categories-pagination"></div>
    <div class="row mt-3" id="browse-categories-breadcrumb"></div>
    <div class="row" id="browse-categories">
        <div class="col-1">
            <div class="arrow left-arrow float-right" id="browse-category-prev"></div>
        </div>
        <div class="col-10">
            <div class="row" id="browse-categories-content"></div>
        </div>
        <div class="col-1">
            <div class="arrow right-arrow" id="browse-category-next"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2">
            <div class="dropdown float-left" data-item-count="25" id="item-count-dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="item-count-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    25
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="item-count-options">
                    <a class="dropdown-item" data-item-count="10" href="#">10</a>
                    <a class="dropdown-item" data-item-count="25" href="#">25</a>
                    <a class="dropdown-item" data-item-count="50" href="#">50</a>
                    <a class="dropdown-item" data-item-count="100" href="#">100</a>
                </div>
            </div>
        </div>
        <div class="col">
            <nav aria-label="Browse store items" id="browse-items-pagination" style="display: inline">
                <ul class="pagination justify-content-center" id="browse-items-pagination-pages">
                    <li class="page-item"><a class="page-link" href="#" id="browse-items-first">First Page</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="browse-items-prev">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="browse-items-next">Next</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="browse-items-last">Last Page</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="max-height: 59%">
                <ul class="list-group" id="browse-items" style="overflow: auto;" data-store="" data-category="" data-next-page=""></ul>
            </div>
        </div>
    </div>
</div>

<div id="scroll-top-val"></div>
<div id="inner-height-val"></div>
<div id="scroll-height-val"></div>
<div id="scroll-vals"></div>