<div class="row mt-3">
    <div class="col-10">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="item name..." aria-label="item name..." aria-describedby="basic-addon2" id="search-box" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="search-button">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card" style="max-height: 80%;">
            <div class="card-header" id="search-results-summary"></div>
            <ul class="list-group" id="search-results" style="overflow: auto;" data-search-term=""> </ul>
        </div>
    </div>
</div>